/* stalinist-one-regular - latin */
@font-face {
  font-family: "Stalinist One";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/stalinist-one-v23-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Stalinist One"), local("StalinistOne-Regular"),
    url("../fonts/stalinist-one-v23-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/stalinist-one-v23-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/stalinist-one-v23-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/stalinist-one-v23-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/stalinist-one-v23-latin-regular.svg#StalinistOne")
      format("svg"); /* Legacy iOS */
}
