.p
// Custom styles
h1
    color: #444
    font-family: "Raleway"

.container
    display: flex
    justify-content: center
    align-items: center
    height: 100vh

.box
    display: flex
    flex-direction: row
    align-items: center
    background: #f6f6f6
    padding: 10px 10rem
    background-image: url("../images/plant2.png")
    background-size: 150px
    background-repeat: no-repeat
    box-shadow: rgba(0, 0, 0, 0.13) 7px 7px 6px 0px
img
    width: 230px
