.p
    color: red
p
    color: red
    font-family: "Stalinist One"
div
    background-image: url("../images/test3.jpg")
    width: 100px
    height: 200px

.text
    font-weight: bold
    font-family: "Stalinist One" !important